body {
    padding: 10px;
    font-size: 1em;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
hr {
    margin: 50px 0;
}
.saveNote {
    padding-top: 20px;
}
.inputButton {
    background-color: buttonface;
    border-width: 1px;
    border-color: buttonborder;
    border-style: outset;
    padding-inline: 6px;
    border-image: initial;
    padding: 5px 20px;
    border-radius: 12px;
    user-select: none;
}
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0;
    vertical-align: middle;
}
.saveButton {
    margin-left: 30px;
}
.inputDiv {
    margin-bottom: 30px;
}
.inputLabel {
    padding-right: 5px;
}
.imageDiv {
    display: inline-block;
    margin-right: 10px;
}
.example {
    vertical-align: middle;
}
.space {
    margin: 0 30px;
}
div#merged > img {
    width: 100%;
}
#merged {
    margin-top: 50px;
}
#warning {
    color: red;
}
