.inputDiv {
    margin-bottom: 5px;
}
.inputLabel {
    padding-right: 5px;
}
.imageDiv {
    display: inline-block;
    margin-right: 10px;
}
.example {
    vertical-align: middle;
}
.explanation {
    margin-bottom: 30px;
}
#reset {
    margin: 10px 0;
}
#merge {
    margin: 10px 0;
}
#popupWrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#popupInner {
    width: 100%;
    max-width: 300px;
    background: white;
    top: 40%;
    left: 50px;
    padding: 10px;
    position: relative;
}